[Unit]
Description=helperr

[Service]
Type=simple
User=helperr
Group=helperr
Restart=always
RestartSec=5s
ExecStart=/var/lib/helperr

[Install]
WantedBy=multi-user.target